# Ignore everything
*

# Do not ignore directories, so Git can reach allowed files
!*/

# Allow this .gitignore file
!.gitignore

# Files to synchronize with GitHub
!functions.py
!geometry.py
!holder.py
!lid.py
!lm2596hv_acdctodc_converter.stp
!main.py
!visualization.py
!requirements.txt
